.vs

ControlPanel/ControlPanel/bin
ControlPanel/ControlPanel/obj
ControlPanel/ControlPanel.Android/bin
ControlPanel/ControlPanel.Android/obj
ControlPanel/ControlPanel.UWP/bin
ControlPanel/ControlPanel.UWP/obj

Tracking/.idea
Tracking/__pycache__
Tracking/shelf/
Tracking/workspace.xml

UE/*.sln
UE/Binaries
UE/Build
UE/DerivedDataCache
UE/Intermediate
UE/Saved
