Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakBeforeConceptDeclarations: true
ColumnLimit: 120
EmptyLineBeforeAccessModifier: LogicalBlock
PointerAlignment: Left
SortIncludes: true
IndentCaseLabels: true